<!-- Handlebars template -->
{% raw %}

<script type="text/x-handlebars-template" class="wgst-template" data-template-id="hidable">

	<li class="wgst-hidable" data-hidable-id="{{hidableId}}">
		<i class="fa fa-eye wgst-hidable-bring-to-front"></i>
		<span class="wgst-hidable-toggle">{{hidableLabel}}</span>
		<i class="fa fa-angle-double-right wgst-hidable-toggle-controls"></i>
		<ul class="wgst-hidable-controls wgst--hide-this">

			{{#unless noFocus}}
			<li>
				<a href="#" class="wgst-hidable-focus">
					<i class="fa fa-crosshairs"></i> <small>Focus</small>
				</a>
			</li>
			{{/unless}}

			{{#unless noPanel}}
			<li>
				<a href="#" class="wgst-hidable-panel">
					<i class="fa fa-eye"></i> <small>Toggle Panel</small>
				</a>
			</li>
			{{/unless}}

			{{#unless noFullscreen}}
			<li>
				<a href="#" class="wgst-hidable-fullscreen">
					<i class="fa fa-arrows-alt"></i> <small>Toggle Fullscreen</small>
				</a>
			</li>
			{{/unless}}

			{{#if close}}
			<li>
				<a href="#" class="wgst-hidable-close">
					<i class="fa fa-close"></i> <small>Close</small>
				</a>
			</li>
			{{/if}}

			<!-- <small>{{hidableLabel}}</small> -->
		</ul>
	</li>

</script>

{% endraw %}