<nav class="wgst-navigation" role="navigation">
	<ul>
		<li>
			<a href="/">
				WGSA
			</a>
		</li>
		<li class="wgst-navigation__collection hide-this">
			<a href="#">
				Collection <i class="fa fa-caret-down"></i>
			</a>
			<div>
				<ul>
					<li>
						<a href="#" class="wgst-navigation__collection-data">Data</a>
					</li>
					<li>
						<a href="#" class="wgst-navigation__collection-tree">Tree</a>
					</li>
					<li>
						<a href="#" class="wgst-navigation__collection-map">Map</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</nav>
