<nav class="wgst-navigation" role="navigation">
	<div class="row">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
			<div class="wgst-header-logo">WGSA</div>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
			<ul class="wgst-navigation-main">
				<li>
					<a href="/" class="wgst-navigation__exit">Home</a>
				</li>
			</ul>
		</div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
			<ul class="wgst-navigation-user">
				<li>
					<a href="/" class="wgst-navigation__feedback wgst-navigation--attention"
						data-navigation-id="feedback">
					Your feedback is important!</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
