<nav class="wgst-navigation" role="navigation">
	<ul>
		<li class="wgst-navigation__collection-panels hide-this">
			<a href="#">
				Panels
			</a>
			<div>
				<ul>
					<li>
						<a href="#" class="wgst-navigation__collection-data">Data</a>
						<a href="#" class="wgst-navigation__close-collection-data"><i class="fa fa-close"></i></a>
					</li>
					<li>
						<a href="#" class="wgst-navigation__collection-tree">Tree</a>
						<a href="#" class="wgst-navigation__close-collection-tree"><i class="fa fa-close"></i></a>
					</li>
					<li>
						<a href="#" class="wgst-navigation__collection-map">Map</a>
						<a href="#" class="wgst-navigation__close-collection-map"><i class="fa fa-close"></i></a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<a href="/" class="wgst-navigation__exit">Exit</a>
		</li>
	</ul>
</nav>
