<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <base href="/"> 
        <title>WGSA.net</title>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
        <!-- jQuery UI -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
        <!-- Bootstrap v3 datetimepicker widget -->
        <link rel="stylesheet" href="/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
        <!-- Fonts -->
        <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" type="text/css">
        <!-- PhyloCanvas -->
        <link href="/phylo-canvas/PhyloCanvas.css" rel="stylesheet" type="text/css">
        <!-- Client -->
        <link href="/css/wgsa.min.css" rel="stylesheet" type="text/css">

        <style>
          .wgst-spinner {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: solid 8px;
            border-radius: 5em;
            border-color: #0099ff transparent #0099ff transparent;
            -webkit-animation: spin 1s linear infinite;
          }
          .wgst-spinner.hide-this {
              display: none;
          }
        </style>
    </head>
    <body>

      <section class="wgst-page wgst-page__landing hide-this">
        
        <header class="wgst-page-section wgst-page-section__header">
          <h1>Whole Genome Sequence Analysis (WGSA)</h1>
          <a href="/collection/new" class="btn btn-default btn-lg">Create new collection</a>
          <br />
          <a href="/collection/c173b9c2-7b5f-4247-96cf-1598bfe54d01" class="btn btn-link btn-lg">Explore sample collection</a>
        </header>

        <section class="wgst-page-section wgst-page-section__action">

          <div class="container">

            <!--
            <div class="col-md-4 col-md-offset-2 action-box">
              <h3>Try</h3>
              <h4>We have prepared a demo for you.</h4>
              <div>
                <a href="/collection/763fcaf5-5dfc-4ad5-86af-1861396c9cb5" class="btn btn-default">Explore sample collection</a>
              </div>
            </div>
            -->

            <div class="col-md-4 col-md-offset-4 action-box">
              <h3>Use</h3>
              <h4>Interested in using WGSA?</h4>
              <p>Subscribe to our mailing list and be the first one to find out when WGSA is released.</p>
              <div>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                <a href="/collection/763fcaf5-5dfc-4ad5-86af-1861396c9cb5" class="btn btn-default">Subscribe</a>
              </div>
            </div>

          </div>


        </section>

<!--         
        <section class="wgst-page-section wgst-page-section__join">
          <h2>Keep in touch</h2>
          MailChimp plugin goes here
        </section>
 -->
        <footer class="wgst-page-section wgst-page-section__footer">
          
          <p>Funded by <img src="/images/wellcome_trust_logo.png" class="wellcome-trust-logo" /></p>
          <!-- Imperial logo -->
          <!-- Wellcome Trust logo -->
        </footer>

      </section>

      <section class="wgst-page wgst-page__app hide-this">

        <div class="wgst-init">
          <!-- <img src="" class="wgst-logo"/> -->
          <div class="wgst-loading"></div>
          <div class="wgst-logo">Whole Genome Sequence Analysis (WGSA)</div>
          <div class="wgst-init-status">Initialising...</div>
          <!--           
          <div class="wgst-init-progress">
            <div class="wgst-init-progress-item wgst-init-progress-item__config">
              <span class="glyphicon glyphicon-record"></span>
              <small>Configure app</small>
            </div>
            <div class="wgst-init-progress-item wgst-init-progress-item__server">
              <span class="glyphicon glyphicon-record"></span>
              <small>Connect to server</small>
            </div>
          </div>
          -->
        </div><!-- /.wgst-init -->

        <div class="wgst-notification wgst-notification__error hide-this"></div>
        <div class="wgst-notification wgst-notification__warning hide-this"></div>
        <div class="wgst-alert hide-this"></div>

        <nav class="wgst-navigation">
          <div class="wgst-navigation-logo">WGSA</div>
          <a href="#" class="wgst-navigation-item wgst-navigation-item__map wgst-navigation-item--active">Map</a>
          <a href="#" class="wgst-navigation-item wgst-navigation-item__representative-tree wgst-navigation-item--active">Representative tree</a>
          <a href="#" class="wgst-navigation-item wgst-navigation-item__collection">Collection</a>
        </nav>

        <div class="wgst-react-component wgst-react-component__workflow-question"></div>

        <div class="wgst-background"></div>

        <div class="wgst-ring" data-wgst-js="ring">
          <div class="wgst-ring-content">WGSA</div>
        </div>









        <!-- Assembly upload navigator -->
        <section class="wgst-panel wgst-panel__assembly-upload-navigator wgst-draggable" data-panel-name="assemblyUploadNavigator" data-collection-id="">
          <header class="wgst-panel-header wgst-draggable-handle">

            <div class="assembly-upload-summary">
              You have selected 
              <span class="assembly-upload-total-number"></span> <span class="assembly-upload-total-number-label"></span><!--
              --><span class="upload-single-assembly-label">:</span> <span class="upload-single-assembly-label upload-single-assembly-file-name"></span>
              <span class="upload-multiple-assemblies-label"> in total.</span>
              <span class="upload-multiple-assemblies-label"> On average <span class="assembly-sequences-average"></span> <strong>contigs</strong> per assembly.</span>
            </div><!-- /.assembly-upload-summary -->

          </header><!-- /.wgst-draggable-handle -->
          <article class="wgst-panel-body">

            <div class="assembly-navigator hide-this">
              <button class="nav-prev-item nav-item-button" disabled="disabled">
                <span class="glyphicon glyphicon-chevron-left"></span><span class="nav-item-button-label">Previous</span>
              </button><!-- /.nav-prev-item -->
              <div class="assembly-navigator-controls">
                <div class="assembly-list-header">
                  <div class="assembly-file-name"></div><!-- /.assembly-file-name -->
                  <button type="button" class="btn btn-default btn-xs cancel-assembly-upload-button"><span class="glyphicon glyphicon-remove"></span></button>
                  <div class="assembly-list-counter">
                    Assembly <span class="selected-assembly-counter">1</span> out of <span class="total-number-of-dropped-assemblies"></span>
                  </div><!-- /.assembly-list-counter -->
                </div><!-- /.assembly-list-header -->
                <div class="assembly-list-slider" ></div>
              </div><!-- /.assembly-navigator-controls -->
              <button class="nav-next-item nav-item-button">
                <span class="glyphicon glyphicon-chevron-right"></span><span class="nav-item-button-label">Next</span>
              </button><!-- /.nav-next-item -->
            </div><!-- /.assembly-navigator -->

          </article><!-- /.wgst-panel-body -->
          <footer class="wgst-panel-footer wgst-draggable-handle">
          </footer><!-- /.wgst-panel-footer -->
        </section><!-- /.wgst-panel.assembly-list-panel -->







        <!-- Assembly upload analytics -->
        <section class="wgst-panel wgst-panel__assembly-upload-analytics wgst-draggable" data-panel-name="assemblyUploadAnalytics">
          <header class="wgst-panel-header wgst-draggable-handle">
            <h4 class="header-title">Analytics: <small></small></h4>
          </header><!-- /.wgst-draggable-handle -->
          <article class="wgst-panel-body">

            <div class="assembly-list-container">
              <ul></ul>
            </div><!-- /.assembly-list-container -->

          </article><!-- /.wgst-panel-body -->
          <footer class="wgst-panel-footer wgst-draggable-handle">
          </footer><!-- /.wgst-panel-footer -->
        </section>







        <!-- Assembly upload metadata -->
        <section class="wgst-panel wgst-panel__assembly-upload-metadata wgst-draggable" data-panel-name="assemblyUploadMetadata">
          <header class="wgst-panel-header wgst-draggable-handle">
            <h4 class="header-title">Metadata: <small></small></h4>
          </header><!-- /.wgst-draggable-handle -->
          <article class="wgst-panel-body">

            <div class="assembly-metadata-list-container">
              <ul></ul>
            </div><!-- /.assembly-metadata-list-container -->

            <div class="adding-metadata-progress-container">

              <div class="progress-container">
                <div class="progress-label">
                  <span class="progress-percentage-label">Your progress is </span>
                  <span class="progress-percentage">0%</span>
                  <span class="progress-hint">(Hint: fill in metadata for this assembly.)</span>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    <span class="sr-only">0% Complete (success)</span>
                  </div>
                </div>
              </div><!-- /.progress-container -->

              <div class="upload-controls-container">
                Ready?
                <button type="button" class="btn btn-success assemblies-upload-ready-button">Upload sequences and metadata</button>
                <button type="button" class="btn btn-success assemblies-upload-metadata-ready-button">Upload metadata only</button>
              </div>

              <!--
              <div class="upload-controls-container">
                <button type="button" class="btn btn-success assemblies-upload-ready-button" disabled="disabled">Upload</button>
                <button type="button" class="btn btn-default assemblies-upload-cancel-button">Cancel</button>
              </div>
              -->
              <!-- /.upload-controls-container -->

            </div><!-- /.adding-metadata-progress-container -->

            <!--
            <div class="uploading-assembly-progress-container">

              <div class="uploading-progress-container">
                <div class="progress-label">
                  <span class="progress-percentage-label">Uploading progress is </span>
                  <span class="progress-percentage">2%</span>
                  <span class="progress-hint"></span>
                </div>
                <div class="uploaded-assembly-url">
                  <div class="uploaded-assembly-url-label">
                    <span class="uploaded-assembly-process-status">Processing</span> your assemblies.
                  </div>
                  <input type="text" class="form-control uploaded-assembly-url-input" val="">
                </div>
                <div class="progress progress-striped active">
                  <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
                    <span class="sr-only">2% Complete (success)</span>
                  </div>
                </div>
              </div>

            </div>
            -->

          </article><!-- /.wgst-panel-body -->
          <footer class="wgst-panel-footer wgst-draggable-handle">
          </footer><!-- /.wgst-panel-footer -->
        </section>





        <!-- Collection -->
        <div class="wgst-fullscreen wgst-fullscreen__collection" data-fullscreen-name="collection" data-fullscreen-id="collection">
        </div><!-- /.wgst-fullscreen__collection -->

        <!-- Collection -->
        <section class="wgst-panel wgst-panel__collection wgst-draggable" data-panel-name="collection" data-panel-id="" data-collection-id="">
          <header class="wgst-panel-header wgst-draggable-handle">
            <h4 class="header-title">Collection</h4>
            <span class="wgst-panel-control-button wgst-panel-control-button__opacity wgst-panel-control-button--active glyphicon glyphicon-adjust"></span>
            <span class="wgst-panel-control-button wgst-panel-control-button__maximize wgst-panel-control-button--active glyphicon glyphicon-fullscreen"></span>
            <span class="wgst-panel-control-button wgst-panel-control-button__minimize glyphicon glyphicon-minus"></span>
            <span class="wgst-panel-control-button wgst-panel-control-button__close wgst-panel-control-button--active glyphicon glyphicon-remove"></span>
          </header>
          <article class="wgst-panel-body">
            <div class="wgst-panel-loading"><div class="loading"></div></div>
            <div class="wgst-panel-body-content">

              <div class="wgst-collection-controls">
                <div class="wgst-collection-controls__show-tree">
                  <!-- <label>Show tree:</label> -->
                  <div class="btn-group"></div>
                </div><!-- /.collection-control -->
                <div class="wgst-collection-controls__show-data-table">
                  <div class="btn-group"></div>
                </div><!-- /.collection-control -->
              </div><!-- /.collection-controls -->

              <div class="collection-stats">
                <div class="wgst-stats wgst-stats--horizontal wgst-stats__collection">
                  <div class="wgst-stats-block">
                    <div class="wgst-stats-label">Created on</div>
                    <div class="wgst-stats-value wgst-stats-value--small wgst-stats-value__created-on"></div>
                  </div><!-- /.wgst-stats-block -->
                  <div class="wgst-stats-block">
                    <div class="wgst-stats-label">Author</div>
                    <div class="wgst-stats-value wgst-stats-value--small wgst-stats-value__author"></div>
                  </div><!-- /.wgst-stats-block -->
                  <div class="wgst-stats-block">
                    <div class="wgst-stats-label">Privacy</div>
                    <div class="wgst-stats-value wgst-stats-value--small wgst-stats-value__privacy"></div>
                  </div><!-- /.wgst-stats-block -->
                </div>

                <div class="wgst-stats wgst-stats__collection">
                  <div class="wgst-stats-label">Total assemblies</div>
                  <div class="wgst-stats-value wgst-stats-value__total-number-of-assemblies"></div>
                </div>
              </div><!-- /.collection-stats -->

              <!--
              <div class="wgst-stats wgst-stats__collection">
                <div class="wgst-stats-label">Displayed assemblies</div>
                <div class="wgst-stats-value wgst-stats-value__number-of-displayed-assemblies"></div>
              </div>

              <div class="wgst-stats wgst-stats__collection">
                <div class="wgst-stats-label">Selected assemblies</div>
                <div class="wgst-stats-value wgst-stats-value__number-of-selected-assemblies"></div>
              </div>
              -->

<!--               <div class="wgst-stats wgst-stats--horizontal wgst-stats__collection">
                <div class="wgst-stats-label">Author</div>
                <div class="wgst-stats-value wgst-stats-value--small wgst-stats-value__created-author"></div>
              </div> -->

              <div class="collection-details wgst-collection wgst-collection-info" data-collection-id="">

                <div class="collection-assembly-list-headers">
                  <div class="assembly-list-header assembly-list-header-tree">Tree</div>
                  <div class="assembly-list-header assembly-list-header-map">
                    Map
                    <input type="checkbox" class="show-all-assemblies-on-map">
                  </div>
                  <!-- <div class="assembly-list-header assembly-list-generation">Generation</div> -->
                  <div class="assembly-list-header assembly-list-header-id">Assembly</div>
                  <div class="assembly-list-header assembly-list-header-nearest-representative">Nearest Representative</div>
                  <div class="assembly-list-header assembly-list-header-st">MLST</div>
                  <div class="assembly-list-header assembly-list-header-resistance-profile">Predicted Resistance Profile</div>
                </div>

                <div class="collection-assembly-list"></div>
                <div class="collection-assembly-list-full hide-this"></div>

                <!--
                <div class="collection-assembly-list-more-assemblies">
                  <span class="glyphicon glyphicon-chevron-up"></span> Scroll inside to see more assemblies <span class="glyphicon glyphicon-chevron-up"></span>
                </div>
                -->

                <div class="collection-assembly-list-all-assemblies">
                  <span class="glyphicon glyphicon-filter"></span> Some assemblies are filtered out. <a href="#" class="collection-assembly-list-view-all-assemblies">View all assemblies</a>
                </div>

              </div><!-- /.collection-details -->

            </div><!-- /.wgst-panel-body-content -->      
          </article><!-- /.wgst-panel-body -->
          <footer class="wgst-panel-footer wgst-draggable-handle">
          </footer><!-- /.wgst-panel-footer -->
        </section><!-- /.wgst-panel.assembly-list-panel -->







        <!-- 
        
        Templates

        -->

        <!-- Collection tree -->
        <!-- 
        <div class="wgst-fullscreen wgst-fullscreen__collection-tree" data-fullscreen-name="collectionTree" data-fullscreen-id="collectionTree">
        </div>
        -->
        <!-- /.wgst-fullscreen__collection-tree -->

        










        <!-- Merged collection tree prototype -->
        <div class="wgst-panel wgst-panel__merged-collection-tree wgst-panel--active wgst-draggable" data-panel-name="mergedCollectionTree" data-collection-id="" data-collection-tree-type="MERGED_TREE">
          <header class="wgst-panel-header wgst-draggable-handle">
            <h4 class="header-title">Merged Collection Tree</h4>
            <span class="wgst-panel-control-button wgst-panel-control-button__opacity wgst-panel-control-button--active glyphicon glyphicon-adjust"></span>
            <span class="wgst-panel-control-button wgst-panel-control-button__minimize glyphicon glyphicon-minus"></span>
            <!-- <span class="wgst-panel-control-button wgst-panel-control-button__maximize wgst-panel-control-button--active glyphicon glyphicon-fullscreen"></span> -->
            <span class="wgst-panel-control-button wgst-panel-control-button__close wgst-panel-control-button--active glyphicon glyphicon-remove"></span>
          </header>
          <article class="wgst-panel-body">
            <div class="wgst-panel-loading"><div class="loading"></div></div>
            <div class="wgst-panel-body-content">
              
              <div class="wgst-tree-controls">
                <div class="wgst-tree-controls-container">
                  <div class="wgst-tree-control-row">

                    <div class="wgst-tree-control">
                      <label for="select-tree-type">Tree type:</label>
                      <select class="form-control wgst-tree-control__change-tree-type" id="select-tree-type">
                        <option value="rectangular">Rectangular</option>
                        <option value="circular">Circular</option>
                        <option value="radial">Radial</option>
                        <option value="diagonal">Diagonal</option>
                        <option value="hierarchy">Hierarchy</option>
                      </select>
                    </div>

                    <div class="wgst-tree-control">
                      <label for="select-tree-node-label-input">Node label:</label>
                      <select class="form-control wgst-tree-control__change-node-label" id="select-tree-node-label-input">
                        <option value="1">Assembly Name</option>
                        <option value="2">Nearest Representative</option>
                        <option value="3">MLST</option>
                        <option value="4">Predicted Resistance Profile</option>
                        <option value="5">Location</option>
                      </select>
                    </div>

                    <div class="wgst-tree-control">
                      <label for="select-tree-node-antibiotic-merged">Highlighted antibiotic:</label>
                      <select class="form-control wgst-tree-control__change-node-colour" id="select-tree-node-antibiotic-merged">
                        <option value="0">None</option>
                      </select>
                    </div>

                  </div><!-- /.wgst-tree-control-row -->

                  <div class="wgst-tree-control-row">
                    <div class="btn-group wgst-tree-control">
                      <button type="button" class="btn btn-sm btn-default wgst-tree-control__decrease-label-font-size"><span class="glyphicon glyphicon-font"></span> -</button>
                      <button type="button" class="btn btn-sm btn-default wgst-tree-control__increase-label-font-size"><span class="glyphicon glyphicon-font"></span> +</button>
                    </div>

                    <div class="btn-group wgst-tree-control">
                      <button type="button" class="btn btn-sm btn-default wgst-tree-control__decrease-node-size"><span class="glyphicon glyphicon-leaf"></span> -</button>
                      <button type="button" class="btn btn-sm btn-default wgst-tree-control__increase-node-size"><span class="glyphicon glyphicon-leaf"></span> +</button>
                    </div>

                    <label class="checkbox-inline wgst-tree-control">
                      <input type="checkbox" class="wgst-tree-control__show-node-labels" checked="checked"> Show labels
                    </label>

                    <!--
                    <div class="btn-group wgst-tree-control">
                      <button type="button" class="btn btn-sm btn-default tree-controls-match-assembly-list">Match assembly list</button>
                    </div>

                    <div class="btn-group wgst-tree-control">
                      <button type="button" class="btn btn-sm btn-default wgst-tree-control__merge-collection-trees">Merge with SRLs</button>
                    </div>
                    -->

                  </div><!-- /.wgst-tree-control-row -->
                </div><!-- /.wgst-tree-controls-container -->
              </div><!-- /.wgst-tree-controls -->

              <div class="wgst-tree-content"></div>

            </div><!-- /.wgst-panel-body-content --> 
          </article><!-- /.wgst-panel-body -->
          <footer class="wgst-panel-footer wgst-draggable-handle">
          </footer><!-- /.wgst-panel-footer -->
        </div><!-- /.wgst-panel.tree-panel -->









        <!-- Representative collection tree -->
        <div class="wgst-fullscreen wgst-fullscreen__representative-collection-tree" data-fullscreen-name="representativeCollectionTree" data-fullscreen-id="representativeCollectionTree">
        </div><!-- /.wgst-fullscreen__representative-collection-tree -->

        <!-- Representative collection tree -->
        <div class="wgst-panel wgst-panel__representative-collection-tree wgst-panel--active wgst-draggable" data-panel-name="representativeCollectionTree" data-panel-id="representativeCollectionTree" data-collection-id="">
          <header class="wgst-panel-header wgst-draggable-handle">
            <h4 class="header-title">Staphylococcus Aureus Representative Tree</h4>
            <!-- <span class="wgst-panel-control-button wgst-panel-control-button__maximize wgst-panel-control-button--active glyphicon glyphicon-fullscreen"></span> -->
            <span class="wgst-panel-control-button wgst-panel-control-button__opacity wgst-panel-control-button--active glyphicon glyphicon-adjust"></span>
            <span class="wgst-panel-control-button wgst-panel-control-button__minimize glyphicon glyphicon-minus"></span>
            <span class="wgst-panel-control-button wgst-panel-control-button__close wgst-panel-control-button--active glyphicon glyphicon-remove"></span>
          </header>
          <article class="wgst-panel-body">
            <div class="wgst-panel-loading"><div class="loading"></div></div>
            <div class="wgst-panel-body-content">
              
              <div class="wgst-tree-controls">

                <!--                 
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-default tree-controls-show-labels">Show labels</button>
                  <button type="button" class="btn btn-sm btn-default tree-controls-hide-labels">Hide labels</button>
                </div>
                -->

                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-default tree-controls-decrease-node"><span class="glyphicon glyphicon-font"></span> -</button>
                  <button type="button" class="btn btn-sm btn-default tree-controls-increase-node"><span class="glyphicon glyphicon-font"></span> +</button>
                </div>

                <!--
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-default tree-controls-match-assembly-list">Match assembly list</button>
                </div>
                -->

              </div>
              <div class="wgst-tree-content"></div>

            </div><!-- /.wgst-panel-body-content --> 
          </article><!-- /.wgst-panel-body -->
          <footer class="wgst-panel-footer wgst-draggable-handle">
          </footer><!-- /.wgst-panel-footer -->
        </div><!-- /.wgst-panel.tree-panel -->








        <!-- Assembly -->
        <section class="wgst-panel wgst-panel__assembly wgst-draggable" data-panel-name="assembly">
          <header class="wgst-panel-header wgst-draggable-handle">
            <h4 class="header-title">Assembly: <small></small></h4>
            <span class="wgst-panel-control-button wgst-panel-control-button__opacity wgst-panel-control-button--active glyphicon glyphicon-adjust"></span>
            <span class="wgst-panel-control-button wgst-panel-control-button__minimize glyphicon glyphicon-minus"></span>
            <span class="wgst-panel-control-button wgst-panel-control-button__close wgst-panel-control-button--active glyphicon glyphicon-remove"></span>
          </header>
          <article class="wgst-panel-body">
            <div class="assembly-details">
              <div class="wgst-panel-loading"><div class="loading"></div></div>

              <div class="assembly-detail assembly-detail__nearest-representative">
                <h4>Nearest Representative</h4>
                <div class="assembly-detail-content"></div>
              </div> 

              <div class="assembly-detail assembly-detail__score">
                <h4>Score</h4>
                <div class="assembly-detail-content"></div>
              </div>

              <div class="assembly-detail assembly-detail__st-type">
                <h4>Sequence Type</h4>
                <div class="assembly-detail-content"></div>
              </div> 

              <div class="assembly-detail assembly-detail__mlst">
                <h4>MLST</h4>
                <div class="assembly-detail-content"></div>
              </div>              

              <div class="assembly-detail assembly-detail__resistance-profile">
                <h4>Predicted Resistance Profile</h4>
                <div class="assembly-detail-content"></div>
              </div>
            </div><!-- /.assembly-details -->
          </article><!-- /.wgst-panel-body -->
          <footer class="wgst-panel-footer wgst-draggable-handle">
          </footer><!-- /.wgst-panel-footer -->
        </section>







        <!-- Assembly Upload Progress -->
        <section class="wgst-panel wgst-panel__assembly-upload-progress wgst-draggable" data-panel-name="assemblyUploadProgress">
          <header class="wgst-panel-header wgst-draggable-handle">
            <h4 class="header-title">Processing <small></small> assemblies</h4>
            <span class="wgst-panel-control-button wgst-panel-control-button__minimize glyphicon glyphicon-minus"></span>
            <span class="wgst-panel-control-button wgst-panel-control-button__close glyphicon glyphicon-remove"></span>
          </header>
          <article class="wgst-panel-body">

            <div class="assemblies-upload-progress">
              Processed <span class="assemblies-upload-processed">0</span> out of <span class="assemblies-upload-total"></span> assemblies
              <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                </div>
              </div>
            </div>

            <table class="table-striped assembly-list-upload-progress">
              <thead>
                <tr>
                  <th>Assembly</th>
                  <th>Progress</th>
                  <th class="assembly-processing-result-header">Uploaded</th>
                  <th class="assembly-processing-result-header">MLST</th>
                  <th class="assembly-processing-result-header">FP</th>
                  <th class="assembly-processing-result-header">PAARSNP</th>
                  <th class="assembly-processing-result-header">CORE</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>

          </article><!-- /.wgst-panel-body -->
          <footer class="wgst-panel-footer wgst-draggable-handle">
          </footer><!-- /.wgst-panel-footer -->
        </section>



        <!-- Map -->
        <div class="wgst-fullscreen wgst-fullscreen__map wgst-fullscreen--active wgst-fullscreen--visible" data-fullscreen-name="map" data-fullscreen-id="map">
          <div class="wgst-map"></div>
        </div><!-- /.wgst-fullscreen__map -->

        <!-- Map -->
        <div class="wgst-panel wgst-panel__map wgst-draggable" data-panel-name="map" data-panel-id="map">
          <header class="wgst-panel-header wgst-draggable-handle">
            <h4 class="header-title">Map</h4>
<!--             
            <span class="wgst-panel-control-button wgst-panel-control-button__opacity wgst-panel-control-button--active glyphicon glyphicon-adjust"></span>
            <span class="wgst-panel-control-button wgst-panel-control-button__minimize glyphicon glyphicon-minus"></span>
            <span class="wgst-panel-control-button wgst-panel-control-button__close wgst-panel-control-button--active glyphicon glyphicon-remove"></span>
 -->
            <span class="wgst-panel-control-button wgst-panel-control-button__opacity wgst-panel-control-button--active glyphicon glyphicon-adjust"></span>
            <span class="wgst-panel-control-button wgst-panel-control-button__maximize wgst-panel-control-button--active glyphicon glyphicon-fullscreen"></span>
            <span class="wgst-panel-control-button wgst-panel-control-button__minimize glyphicon glyphicon-minus"></span>
            <span class="wgst-panel-control-button wgst-panel-control-button__close wgst-panel-control-button--active glyphicon glyphicon-remove"></span>
          </header>
          <article class="wgst-panel-body">
            <div class="wgst-panel-loading"><div class="loading"></div></div>
            <div class="wgst-panel-body-content">
            </div><!-- /.wgst-panel-body-content --> 
          </article><!-- /.wgst-panel-body -->
          <footer class="wgst-panel-footer wgst-draggable-handle">
          </footer><!-- /.wgst-panel-footer -->
        </div><!-- /.wgst-panel__map -->
        
      </section>






        <!--
        <section class="wgst-paper wgst-paper__collection-tree">
          Testing
        </section>

        <section class="wgst-paper wgst-paper__collection-metadata">
          Testing
        </section>
        -->


<!--         <div class="wgst-file-drop-zone-container">
          <section class="wgst-file-drop-zone wgst-file-drop-zone__fasta">
            <h2>Drop FASTA files here</h2>
          </section>

          <section class="wgst-file-drop-zone wgst-file-drop-zone__csv">
            <h2>Drop CSV files here</h2>
          </section>
        </div>
 -->



        <!-- Templates -->
        <script type="text/x-handlebars-template" class="wgst-template" data-template-id="collectionTreePanel">
          <!-- Collection tree panel template -->
          <div class="wgst-panel wgst-panel__collection-tree wgst-panel--active wgst-draggable" data-panel-name="{{attributePanelId}}" data-panel-id="{{attributePanelId}}" data-collection-id="{{attributeCollectionId}}" data-collection-tree-type="{{attributeCollectionTreeType}}">
            <header class="wgst-panel-header wgst-draggable-handle">
              <h4 class="header-title">{{collectionTreeTitle}}</h4>
              <span class="wgst-panel-control-button wgst-panel-control-button__opacity wgst-panel-control-button--active glyphicon glyphicon-adjust"></span>
              <span class="wgst-panel-control-button wgst-panel-control-button__minimize glyphicon glyphicon-minus"></span>
              <!--
              <span class="wgst-panel-control-button wgst-panel-control-button__maximize wgst-panel-control-button--active glyphicon glyphicon-fullscreen"></span>
              -->
              <span class="wgst-panel-control-button wgst-panel-control-button__close wgst-panel-control-button--active glyphicon glyphicon-remove"></span>
            </header>
            <article class="wgst-panel-body">
              <div class="wgst-panel-loading"><div class="loading"></div></div>
              <div class="wgst-panel-body-content">
                
                <div class="wgst-tree-controls">
                  <div class="wgst-tree-controls-container">
                    <div class="wgst-tree-control-row">

                      <div class="wgst-tree-control">
                        <label>Tree type:</label>
                        <select class="form-control wgst-tree-control__change-tree-type">
                          <option value="rectangular">Rectangular</option>
                          <option value="circular">Circular</option>
                          <option value="radial">Radial</option>
                          <option value="diagonal">Diagonal</option>
                          <option value="hierarchy">Hierarchy</option>
                        </select>
                      </div>

                      <div class="wgst-tree-control">
                        <label>Node label:</label>
                        <select class="form-control wgst-tree-control__change-node-label">
                          <option value="1">Assembly Name</option>
                          <option value="2">Nearest Representative</option>
                          <option value="3">MLST</option>
                          <option value="4">Predicted Resistance Profile</option>
                          <option value="5">Location</option>
                        </select>
                      </div>

                      <div class="wgst-tree-control">
                        <label>Highlighted antibiotic:</label>
                        <select class="form-control wgst-tree-control__change-node-colour">
                          <option value="0">None</option>
                        </select>
                      </div>

                    </div><!-- /.wgst-tree-control-row -->

                    <div class="wgst-tree-control-row">
                      <div class="btn-group wgst-tree-control">
                        <button type="button" class="btn btn-sm btn-default wgst-tree-control__decrease-label-font-size"><span class="glyphicon glyphicon-font"></span> -</button>
                        <button type="button" class="btn btn-sm btn-default wgst-tree-control__increase-label-font-size"><span class="glyphicon glyphicon-font"></span> +</button>
                      </div>

                      <div class="btn-group wgst-tree-control">
                        <button type="button" class="btn btn-sm btn-default wgst-tree-control__decrease-node-size"><span class="glyphicon glyphicon-leaf"></span> -</button>
                        <button type="button" class="btn btn-sm btn-default wgst-tree-control__increase-node-size"><span class="glyphicon glyphicon-leaf"></span> +</button>
                      </div>

                      <label class="checkbox-inline wgst-tree-control">
                        <input type="checkbox" class="wgst-tree-control__show-node-labels" checked="checked"> Show labels
                      </label>

                      <div class="btn-group wgst-tree-control">
                        <button type="button" class="btn btn-sm btn-default wgst-tree-control__show-newick">Show Newick</button>
                      </div>

                      {{#unless matchAssemblyListButton}}
                      <div class="btn-group wgst-tree-control">
                        <button type="button" class="btn btn-sm btn-default tree-controls-match-assembly-list">Match assembly list</button>
                      </div>
                      {{/unless}}

                      {{#unless mergeWithButton}}
                      <button type="button" class="btn btn-sm btn-default wgst-tree-control__merge-collection-trees" data-collection-tree-type="{{attributeCollectionTreeType}}">
                        <div class="wgst-spinner hide-this"></div>
                        <span class="wgst-spinner-label">Merge with SRLs</span>
                      </button>
                      {{/unless}}

                    </div><!-- /.wgst-tree-control-row -->
                  </div><!-- /.wgst-tree-controls-container -->
                </div><!-- /.wgst-tree-controls -->

                <div class="wgst-tree-content"></div>

              </div><!-- /.wgst-panel-body-content --> 
            </article><!-- /.wgst-panel-body -->
            <footer class="wgst-panel-footer wgst-draggable-handle">
            </footer><!-- /.wgst-panel-footer -->
          </div><!-- /.wgst-panel.tree-panel -->
        </script><!-- /.wgst-template -->

        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- jQuery UI -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <!-- Bootstrap -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <!-- Google Maps v3 API with Places library -->
        <script src="//maps.googleapis.com/maps/api/js?v=3.16&sensor=false&libraries=places"></script>
        <!-- D3 -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.9/d3.min.js" charset="utf-8"></script>
        <!-- Modernizr -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <!-- Moment.js -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
        <!-- TimeAgo http://timeago.yarp.com/ -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.1.0/jquery.timeago.min.js"></script>
        <!-- 
            Bootstrap v3 datetimepicker widget 
            https://github.com/Eonasdan/bootstrap-datetimepicker
        -->
        <!-- <script src="/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.en-gb.js"></script> -->
        <!-- <script src="/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script> -->

        <!-- Swig -->
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/swig/1.4.1/swig.min.js"></script> -->
        <!-- Hogan -->
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.0/hogan.js"></script> -->

        <!-- Handlebars -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>
        <!-- Papaparse -->
        <script src="/js/vendor/papaparse.min.js"></script>
        <!-- UUID -->
        <script src="/js/vendor/uuid.js"></script>
        <!-- PhyloCanvas -->
        <script src="/phylo-canvas/PhyloCanvas.js"></script>
        <!-- Socket.io -->
        <script src="/socket.io/socket.io.js"></script>
        <!-- The core React library -->
        <script src="http://fb.me/react-with-addons-0.11.1.min.js"></script>
        <!-- React componenets-->
        <script src="/js/react-components/workflow-question.react.js"></script>
        <!-- Init -->
        <script>
          $(function(){

            'use strict';

            /*
              The name "undefined" is not guaranteed to have the type "undefined".
              It can be assigned other values, like null or 1.
              To make sure that undefined is undefined in that context, use anonymous self-invoking function.

              However in modern browsers "undefined" is read-only.
            */
            (function(undefined){

              // WGST namespace
              window.WGST = window.WGST || {};

              // window.WGST.requestedAssembly = undefined;

              // // If user requested individual assembly, e.g.: /assembly/FINGERPRINT_COMPARISON_154273030677208533352573798127987081488
              // <% if (typeof requestedAssemblyObject !== 'undefined') { %>
              //   // Store requested assembly id
              //   window.WGST.requestedAssembly = <%- requestedAssemblyObject %>;
              // <% } %>

              window.WGST.requestedCollectionId = undefined;

              // If user requested collection, e.g.: /assembly/FINGERPRINT_COMPARISON_154273030677208533352573798127987081488
              <% if (typeof requestedCollectionId !== 'undefined') { %>
                // Store requested collection id
                window.WGST.requestedCollectionId = '<%- requestedCollectionId %>';
              <% } %>

              // If user requested collection, e.g.: /assembly/FINGERPRINT_COMPARISON_154273030677208533352573798127987081488
              <% if (typeof newCollection !== 'undefined') { %>
                // Store requested collection id
                window.WGST.isNewCollection = true;
              <% } else { %>
                window.WGST.isNewCollection = false;
              <% } %>

              <% if (typeof appConfig !== 'undefined') { %>
                // Store requested assembly
                //window.WGST.config = <%- appConfig %>;
                window.WGST.config = window.location.protocol + window.location.hostname;
              <% } %>
            })();
          });
        </script>
        <!-- Client -->
        <script src="/js/wgsa.min.js"></script>
    </body>
</html>