<!-- Handlebars template -->
{% raw %}

<script type="text/x-handlebars-template" class="wgst-template" data-template-id="assembly-upload-analytics-panel">

    <section class="wgst-panel wgst-panel__assembly-upload-analytics wgst-draggable hide-this"
            data-panel-type="{{panelType}}"
            data-panel-id="{{panelId}}"
            data-panel-label="{{panelLabel}}">

      <header class="wgst-panel-header wgst-draggable-handle">
        <h4 class="header-title">Analytics: <small></small></h4>
      </header>
      <article class="wgst-panel-body">

        <div class="wgst-assembly-upload__analytics">
          <ul></ul>
        </div>

      </article>
      <footer class="wgst-panel-footer wgst-draggable-handle">
      </footer>
    </section>

</script>

{% endraw %}