<!-- Handlebars template -->
{% raw %}

<script type="text/x-handlebars-template" class="wgst-template" data-template-id="assembly-upload-navigation-panel">

    <section class="wgst-panel wgst-panel__assembly-upload-navigator wgst-draggable hide-this"
            data-panel-type="{{panelType}}"
            data-panel-id="{{panelId}}">

      <header class="wgst-panel-header wgst-draggable-handle">

        <div class="assembly-upload-summary">
          You have selected 
          <span class="assembly-upload-total-number"></span> <span class="assembly-upload-total-number-label"></span><!--
          --><span class="upload-single-assembly-label">:</span> <span class="upload-single-assembly-label upload-single-assembly-file-name"></span>
          <span class="upload-multiple-assemblies-label"> in total.</span>
          <span class="upload-multiple-assemblies-label"> On average <span class="assembly-sequences-average"></span> <strong>contigs</strong> per assembly.</span>
        </div><!-- /.assembly-upload-summary -->

      </header><!-- /.wgst-draggable-handle -->
      <article class="wgst-panel-body">

        <div class="assembly-navigator">
          <div class="assembly-navigator-controls">
            <div class="assembly-list-header">

              <form class="form-inline" role="form">
                <div class="form-group">
                  <select class="form-control wgst-dropped-assembly-list"></select>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-default wgst-dropped-assembly-list-navigation-button__previous"><i class="fa fa-chevron-left"></i></button>
                  <button type="button" class="btn btn-default wgst-dropped-assembly-list-navigation-button__next"><i class="fa fa-chevron-right"></i></button>
                </div>
              </form>

            </div>
          </div>
        </div>

      </article><!-- /.wgst-panel-body -->
      <footer class="wgst-panel-footer wgst-draggable-handle">
      </footer><!-- /.wgst-panel-footer -->
    </section><!-- /.wgst-panel.assembly-list-panel -->

</script>

{% endraw %}