<!-- Handlebars template -->
{% raw %}

<script type="text/x-handlebars-template" class="wgst-template" data-template-id="collection-map-panel">

    <section class="wgst-panel wgst-panel__map wgst-draggable wgst--hide-this"
          data-panel-type="{{panelType}}"
          data-panel-id="{{panelId}}"
          data-panel-label="{{panelLabel}}"
          data-collection-id="{{collectionId}}">

      <header class="wgst-panel-header wgst-draggable-handle">
        <h4 class="header-title">Map</h4>
  <!--             
        <span class="wgst-panel-control-button wgst-panel-control-button__opacity wgst-panel-control-button--active glyphicon glyphicon-adjust"></span>
        <span class="wgst-panel-control-button wgst-panel-control-button__minimize glyphicon glyphicon-minus"></span>
        <span class="wgst-panel-control-button wgst-panel-control-button__close wgst-panel-control-button--active glyphicon glyphicon-remove"></span>
  -->
        <span class="wgst-panel-control-button wgst-panel-control-button__opacity wgst-panel-control-button--active glyphicon glyphicon-adjust"></span>
        <span class="wgst-panel-control-button wgst-panel-control-button__maximize wgst-panel-control-button--active glyphicon glyphicon-fullscreen"></span>

        <span class="wgst-panel-control-button wgst-panel-control-button__minimize glyphicon glyphicon-minus"></span>
        <i class="wgst-panel-control-button wgst-panel-control-button__close wgst-panel-control-button--active fa fa-square-o"></i>
      </header>
      <article class="wgst-panel-body">
        <!-- <div class="wgst-panel-loading"><div class="loading"></div></div> -->
        <div class="wgst-panel-body-content">
        </div><!-- /.wgst-panel-body-content --> 
      </article><!-- /.wgst-panel-body -->
      <footer class="wgst-panel-footer wgst-draggable-handle">
      </footer><!-- /.wgst-panel-footer -->
    </section><!-- /.wgst-panel__map -->

</script>

{% endraw %}