<!-- Handlebars template -->
{% raw %}

<script type="text/x-handlebars-template" class="wgst-template" data-template-id="collection-data-panel">

  <section class="wgst-panel wgst-panel__collection wgst-draggable hide-this"
          data-panel-type="{{panelType}}"
          data-panel-id="{{panelId}}"
          data-collection-id="{{collectionId}}">

    <header class="wgst-panel-header wgst-draggable-handle">
      <h4 class="header-title">Collection</h4>
      <span class="wgst-panel-control-button wgst-panel-control-button__opacity wgst-panel-control-button--active glyphicon glyphicon-adjust"></span>
      <span class="wgst-panel-control-button wgst-panel-control-button__maximize wgst-panel-control-button--active glyphicon glyphicon-fullscreen"></span>
      <span class="wgst-panel-control-button wgst-panel-control-button__minimize glyphicon glyphicon-minus"></span>
      <span class="wgst-panel-control-button wgst-panel-control-button__close wgst-panel-control-button--active glyphicon glyphicon-remove"></span>
    </header>
    <article class="wgst-panel-body">
      <!-- <div class="wgst-panel-loading"><div class="loading"></div></div> -->
      <div class="wgst-panel-body-content">

        <div class="wgst-collection-controls">
          <div class="wgst-collection-controls__show-tree">
            <div class="btn-group"></div>
          </div>
          <div class="wgst-collection-controls__show-data-table">
            <div class="btn-group"></div>
          </div>
        </div>

        <!--
        <div class="collection-stats">
          <div class="wgst-stats wgst-stats--horizontal wgst-stats__collection">
            <div class="wgst-stats-block">
              <div class="wgst-stats-label">Created on</div>
              <div class="wgst-stats-value wgst-stats-value--small wgst-stats-value__created-on"></div>
            </div>
            <div class="wgst-stats-block">
              <div class="wgst-stats-label">Author</div>
              <div class="wgst-stats-value wgst-stats-value--small wgst-stats-value__author"></div>
            </div>
            <div class="wgst-stats-block">
              <div class="wgst-stats-label">Privacy</div>
              <div class="wgst-stats-value wgst-stats-value--small wgst-stats-value__privacy"></div>
            </div>
          </div>

          <div class="wgst-stats wgst-stats__collection">
            <div class="wgst-stats-label">Total assemblies</div>
            <div class="wgst-stats-value wgst-stats-value__total-number-of-assemblies"></div>
          </div>
        </div>
        -->
        
        <div class="collection-details wgst-collection wgst-collection-info" data-collection-id="{{collectionId}}">

          <div class="collection-assembly-list-headers">
            <div class="assembly-list-header assembly-list-header-tree">Tree</div>
            <div class="assembly-list-header assembly-list-header-map">
              Map
              <input type="checkbox" class="show-all-assemblies-on-map">
            </div>
            <div class="assembly-list-header assembly-list-header-id">Assembly</div>
            <div class="assembly-list-header assembly-list-header-nearest-representative">Nearest Representative</div>
            <div class="assembly-list-header assembly-list-header-st">MLST</div>
            <div class="assembly-list-header assembly-list-header-resistance-profile">Predicted Resistance Profile</div>
          </div>

          <div class="collection-assembly-list"></div>
          <div class="collection-assembly-list-full hide-this"></div>

          <div class="collection-assembly-list-all-assemblies">
            <span class="glyphicon glyphicon-filter"></span> Some assemblies are filtered out. <a href="#" class="collection-assembly-list-view-all-assemblies">View all assemblies</a>
          </div>

        </div>

      </div>     
    </article>
    <footer class="wgst-panel-footer wgst-draggable-handle">
    </footer>
  </section>

</script>

{% endraw %}