{% raw %}

<script type="text/x-handlebars-template" class="wgst-template" data-template-id="panel">

  <section class="wgst-panel wgst-panel__{{panelType}} wgst-draggable{{#if invisibleThis }} wgst--invisible-this{{/if}}{{#if hideThis }} wgst--hide-this{{/if}}"
          data-panel-type="{{panelType}}"
          data-panel-id="{{panelId}}"
          data-panel-label="{{panelLabel}}"
          data-collection-id="{{collectionId}}"
          {{#each dataAttributes}}{{name}}="{{value}}"{{/each}}>

    <header class="wgst-panel-header wgst-draggable-handle">
      <h4 class="header-title">{{panelLabel}}</h4>

      <div class="wgst-panel-header-controls">

        <i class="wgst-panel-control-button wgst-panel-control-button--active fa fa-arrows-alt"
          data-panel-control-button="fullscreen"></i>

        <i class="wgst-panel-control-button wgst-panel-control-button--active fa fa-eye-slash"
          data-panel-control-button="hide"></i>

        <i class="wgst-panel-control-button wgst-panel-control-button--active fa fa-remove"
          data-panel-control-button="close"></i>

      </div>
    </header>

    <article class="wgst-panel-body">
      <div class="wgst-panel-body-content">
        {{> content}}
      </div>     
    </article>

    <footer class="wgst-panel-footer wgst-draggable-handle">
    </footer>

  </section>

</script>

{% endraw %}