.wgst-header {
    position: relative;
    width: 100%;
    z-index: 9999;
    background-color: #000;
    color: #fff;
    //padding: 10px 25px;

    .wgst-header-logo {
        display: inline-block;
        font-weight: 300;
        color: #999;
        margin: 0 25px;
    }

    @import "navigation.less";
}