.wgst-info-window {
	display: inline-block;
	overflow: visible;
	min-height: 500;

	h5 {
		font-size: 12px;
		margin: 0;
		margin-bottom: 5px;
	}
	.wgst-info-window-assembly-list {
		li {
			display: block;
			font-weight: 400;
			line-height: 1.5em;
		}
	}
}