.wgst-info-window {

	//
	// Bug fix:
	// http://www.canbike.org/information-technology/2013/11/01/firefox-infowindow-scrollbar-fix-google-maps-api-v3.html
	//
	&.no-scrollbar {
		line-height:1.35;
		overflow:hidden;
		white-space:nowrap;
	}

	h5 {
		font-size: 12px;
		margin: 0;
		margin-bottom: 5px;
	}
	.wgst-info-window-assembly-list {
		li {
			display: block;
			font-weight: 400;
			line-height: 1.5em;
		}
	}
}