@import "reset";
@import "spinner";
@import "utils";

// Vars
@action-color: #fff;
@page-background: #333;

// Mixins
.text-shadow {
    text-shadow: 1px 1px 0 #000;
}

body {
    background-color: @page-background;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

section {
    overflow: hidden;
}

.wgst-page__landing {
    min-height: 100%;
    background-color: #333;

    .wgst-page-section {
        padding: 40px;
        text-align: center;
    }

    .wgst-page-section__header {
        text-align: center;
        //background-color: #fff;
        color: #fff;
        background: url(/images/wgsa_cover.jpg) no-repeat center;
        background-size: cover;
        padding: 80px;

        h1 {
            font-weight: 400;
            margin: 40px 0 0 0;
            margin-bottom: 70px;
            line-height: 1.2em;
            .text-shadow;
        }
        h2 {
            margin: 15px 0 70px 0;
            font-weight: 300;
            font-size: 20px;
        }
        a {
            display: inline-block;
            clear: both;
            color: #8c61d4;
            margin-bottom: 20px;

            &:first-of-type {
                margin-bottom: 30px;
            }
            &.btn-link {
                color: #fff;
                font-weight: 300;
            }
        }
        .btn-default {
            color: #fff;
            background: none;
            border: 2px solid #fff;
            -webkit-transition: 0.5s ease;
            .text-shadow;

            &:hover {
                background-color: rgba(0, 0, 0, 0.6);
                //color: @action-color;
            }
        }
        .wgst-chrome-only-message {
            padding: 20px;
            //border: 1px solid #fff;
            background-color: rgba(255, 0, 0, 0.4);

            a {
                color: #0099ff;
            }
        }
    }

    .wgst-page-section__action {
        background-color: @action-color;
        padding: 60px;

        .action-box {
            border: 1px solid rgba(0, 0, 0, 1);
            color: #000;
            text-align: center;
            margin-bottom: 60px;

            &:last-of-type {
                margin-bottom: 0;
            }
            h3 {
                display: block;
                width: 80px;
                background-color: @action-color;
                font-weight: 400;
                text-align: center;
                margin: -15px auto 0 auto;
            }
            h4 {
                margin: 20px 0;
                text-align: center;
                font-weight: 300;
            }
            ::-webkit-input-placeholder {
               color: #999;
               font-weight: 300;
            }
            p, input {
                margin: 20px 0;
            }
            .btn {
                margin-bottom: -20px;
                //background-color: #000;
                border-color: #000;
                color: #000;
                border-width: 2px;
                -webkit-transition: 0.5s ease;

                &:hover {
                    background-color: #333;
                    border-color: #333;
                    color: #fff;
                }
            }
        }
    }

    .wgst-page-section__partners {
        color: #fff;

        p {
            font-weight: 200;
            font-size: 12px;
            line-height: 24px;
            color: #ccc;
            margin: 20px;
            display: inline-block;
            vertical-align: top;
        }
        .wgst-supporter-logo {
            width: 142px;
            vertical-align: top;
            margin-left: 3px;
        }
    }

    .wgst-page-section__footer {
        padding: 20px;
        background-color: @page-background;
    }
}